{% extends "base.html"%} 
{% load staticfiles %}
{% block bodyContent %}
<script type="text/javascript" src="{% static "handlerJS/SingleOrderForm.js" %}"></script>

<div class="container">

	<div class="row">
		<table id="dg" title="My orders"  class="col-lg-12 easyui-datagrid" style="width:800px;height:250px"fitColumns="true"
		toolbar="#toolbar" pagination="true" rownumbers="true" fitColumns="true" singleSelect="true">

			<thead>
				<tr>
					<th field="MainID" width="50">主单ID</th>
					<th field="MAWBNO" width="50">MAWB NO</th>
					<th field="MainOrderInputDate" width="50">主单日期</th>
					<th field="OrderComp" width="50">主单公司*</th>
					<th field="AirComp" width="50">航空公司*</th>
					<th field="OrderSubmitor" width="50">录入员</th>
					<th field="ShipperNameAndAddr" width="50">发货人名称及地址*    业务</th>
					<th field="Details" width="50">详细信息</th>
				</tr>
			</thead>
			<tbody>
				{% for item in allResult %}  
					<tr>
						<td>{{ item.MainID }}</td>
						<td>{{ item.MAWBNO }}</td>
						<td>{{ item.MainOrderInputDate }}</td>
						<td>{{ item.OrderComp }}</td>
						<td>{{ item.AirComp }}</td>
						<td>{{ item.OrderSubmitor }}</td>
						<td>{{ item.ShipperNameAndAddr }}</td>
						<td><a href="#">详情</a></td>
					</tr>
				{% endfor %}
			</tbody>  
		</table>
		
		
	</div>
	
	<p>
	<div class="row">
    <div id="mymodfiy">
	   <a href="javascript:void(0)" class="easyui-linkbutton " iconCls="icon-remove" plain="true" onclick="destroyUser()">Modify</a>
	   <p>
	   <input class="easyui-textbox dataElemMark" id="NVD" style="width:20%" value="NVD" data-options="label:''" />
	   &nbsp&nbsp
	   <input class="easyui-textbox dataElemMark" id="NVC" style="width:20%" value="NVC" data-options="label:''" />
		&nbsp&nbsp
	   <input class="easyui-textbox dataElemMark" id="NIL" style="width:20%" value="NIL" data-options="label:''" />
	  </p>
   	</div>
	</div>
	</p>
	
	<div class="row">
	<div id="toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
   	</div>
	<div>
	 <table id="dg" title="My Users" class="easyui-datagrid" style="width:800px;height:250px"
            url="get_users.php"
            toolbar="#toolbar" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="firstname" width="50">First Name</th>
                <th field="lastname" width="50">Last Name</th>
                <th field="phone" width="50">Phone</th>
                <th field="email" width="50">Email</th>
            </tr>
        </thead>
		<tr>
		 
		</tr>
		<tr>
		 
		</tr>
		
    </table>
    
	</div>
</div >

<script type="text/javascript" src="{% static "handlerJS/SingleOrderForm.js" %}"></script>

{% endblock %}
