{% extends "base.html" %} 
{% load staticfiles %}

{% block bodyContent %}
<script type="text/javascript" src="{% static "handlerJS/SingleOrderForm.js" %}"></script>

<div class="container">

	<div class="row">
		<table id="dg" title="My Users"  class="col-lg-12 easyui-datagrid" fitColumns="true"
		toolbar="#toolbar" pagination="true" rownumbers="true" fitColumns="true" singleSelect="true">
			<thead>
				<tr>
					<th field="MainID" width="50">主单ID</th>
					<th field="MAWBNO" width="50">MAWB NO</th>
					<th field="MainOrderInputDate" width="50">主单日期</th>
					<th field="OrderComp" width="50">主单公司*</th>
					<th field="AirComp" width="50">航空公司*</th>
					<th field="OrderSubmitor" width="50">录入员</th>
					<th field="ShipperNameAndAddr" width="50">发货人名称及地址*    业务</th>
					<th field="Details" width="50">详细信息</th>
				</tr>
			</thead>
			<tbody>
				{% for item in allResult %}  
					<tr>
						<td>{{ item.MainID }}</td>
						<td>{{ item.MAWBNO }}</td>
						<td>{{ item.MainOrderInputDate }}</td>
						<td>{{ item.OrderComp }}</td>
						<td>{{ item.AirComp }}</td>
						<td>{{ item.OrderSubmitor }}</td>
						<td>{{ item.ShipperNameAndAddr }}</td>
						<td><a href="#">详情</a></td>
					</tr>
				{% endfor %}
			</tbody>  
		</table>
		
		<div id="toolbar">
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
   		</div>
	</div>
</div>

<script type="text/javascript" src="{% static "handlerJS/SingleOrderForm.js" %}"></script>

{% endblock %}
